.reveal h2 {
	margin-bottom: 1em;
}
.reveal h2.inverse {
	color: #00aed8;
}

.focus-word { 
	color: #00aed8;
}

.focus-word-inverse {
	color: #FBE66E;
}

.reveal section img {
	border: none;
	background: none;
	box-shadow: none;	
}
.reveal section .multi-pic {
	width: 8em;
}

.reveal .section-card a:not(.image):hover {
	color: #FBE66E;
}
.reveal .section-card a:not(.image) {
	color: #FBE66E;
}

